body{ background-color: aqua;

    background-repeat: no-repeat;
  background-size: auto;
background-image: url("https://picsum.photos/2500");

}

#login {
    background-color: rgb(137, 43, 226);
}
#register {
    background-color: rgb(226, 43, 205);
}

.info{
/* flex-shrink: 5; */
    /* padding: 40px; */
    background-color: rgba(137, 43, 226, 0.284);
    width: 500px;
    height: 200px;
}

.edit{
  
    width:30px
}.done{
    width:30px
}
.outline{
    display: flex;
gap: 15px;

}
.info > h2{
margin-bottom:50px;
}
.outline > p{

    font-size: 30px;
    
}
.newInfo {
    background-color: rgba(255, 255, 255, 0.572);
    border-radius: 10px;
}
#delete{
    border-radius: 50px;
    background-color: rgb(255, 0, 0);
    margin-top: 100px ;
    width: 200px;
    height: 50px;
}

#deletewindow{
    background-color:rgba(84, 49, 49, 0.664);
}

.delbtn{
      background-color:rgba(255, 255, 255, 0.414);
}


@media only screen and (max-width: 500px) {
    
.info{
    /* flex-shrink: 5; */
    display: flex;
    flex-wrap: wrap;
        padding: 40px;
        background-color: rgba(137, 43, 226, 0.284);
        width: 300px;
        overflow: auto;
        height: 200px;
    }
  }